.service__wrapper
{
    display: flex;
    gap: 90px;
    margin-left: 140px;
    margin-right: 150px;
}
.service__title
{
    font-size: 42px;
    color: #3E3737;
    font-weight: 600;
    margin-left: 220px;
    margin-top: 48px;
    margin-bottom: 130px;
}
.service__design
{
    position: absolute;
}
.service__design img
{
    width: 250px;
    margin-left: -100px;
    margin-top: -350px;
}
.service__item__title
{
    padding-top: 26px;
    padding-bottom: 20px;
    font-size: 24px;
    font-weight: 500;
    color: #1A5221;
}
.service__item__text
{
    font-size: 16px;
    color: #7C7A7A;
    line-height: 1.8em;
}
@media only screen and (max-width: 1030px)
{
    .service__title
    {
        padding-top: 40px;
    }
    .service__wrapper
    {
        justify-content: center;
    }
    .service__item
    {
        width: 150px;
    }
    .service__design
    {
        display: none;
    }
}
@media only screen and (max-width: 768px)
{
    .service__title
    {
        margin-left: 0;
        text-align: center;
        font-size: 35px;
    }
    .service__item
    {
        width: 140px;
        max-height: 350px;
        overflow-y: scroll;
    }
    .service__item:nth-child(2) .service__item__title
    {
        font-size: 19px;
    }
}
@media only screen and (max-width: 627px)
{
    .service__wrapper
    {
        display: block;
        margin-left: 210px;
    }
    .service__item
    {
        margin-bottom: 50px;
    }
}
@media only screen and (max-width: 380px)
{
    .service__wrapper
    {
        margin-left: 120px;
    }
}