@import url('https://fonts.googleapis.com/css2?family=Charm:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500;600&display=swap');
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 0.4s;
    font-family: 'Cormorant Garamond', serif;
}
*::selection
{
    background-color: #ffc107;
    color: #FFFFFF;
}

/* Nav Styles */
.container{
    margin-left: 5%;
    margin-right: 5%;
}
.nav__contact
{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
.change__color
{
    color: #91B40D;
}
.nav__number
{
    display: flex;
}
.nav{
    width: 100%;
    height: 65px;
    position: static;
    text-align: center;
    padding-right: 30px;
    padding-top: 20px;
}
.nav div.nav__logo{
    width: 180px;
    height: 10px;
    position: absolute;
}
.nav div.nav__menu{
    width: 600px;
    height: 65px;
    float: right;
}
.nav div.nav__menu ul{
    width:100%;
    height: 65px;
    display: flex;
    list-style: none;
    gap: 30px;
    padding-top: 15px;
}
.nav div.nav__menu ul li{
    width: 120px;
    height: 65px;
}
.nav div.nav__menu ul li a{
    text-decoration: none;
    color: #3E3737;
    font-weight: 900;
}
.nav div.nav__menu ul li a:hover{
    color:#91B40D;
}
.nav div.media_button {
    width: 40px;
    height: 40px;
    background-color: transparent;
    position: absolute;
    right: 15px;
    top: 12px;
    display: none;
}
.nav div.media_button button.main_media_button {
    width: 100%;
    height: 100%;
    background-color: transparent;
    outline: 0;
    border: none;
    cursor: pointer;
}

.nav div.media_button button.main_media_button span{
    width: 98%;
    height: 1px;
    display: block;
    background-color: #3E3737;
    margin-top: 9px;
    margin-bottom: 10px;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(1){
    transform: rotateY(180deg);
    transition: all 0.5s;
    background-color: #3E3737;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(2){
    transform: rotateY(180deg);
    transition: all 0.4s;
    background-color: #3E3737;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(3){
    transform: rotateY(180deg);
    transition: all 0.3s;
    background-color: #3E3737;
}

.nav div.media_button button.active span:nth-of-type(1) {
    transform: rotate3d(0, 0, 1, 45deg);
    position: absolute;
    margin: 0;
}

.nav div.media_button button.active span:nth-of-type(2) {
    display: none;
}

.nav div.media_button button.active span:nth-of-type(3) {
    transform: rotate3d(0, 0, 1, -45deg);
    position: absolute;
    margin: 0;
}

.nav div.media_button button.active:hover span:nth-of-type(1) {
    transform: rotate3d(0, 0, 1, 20deg);
}

.nav div.media_button button.active:hover span:nth-of-type(3) {
    transform: rotate3d(0, 0, 1, -20deg);
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    
    .container{
        margin: 0;
    }
    
}
@media screen and (max-width:768px) {
    
    .container{
        margin: 0;
    }
    
    .nav div.nav__logo{
        margin-left: 15px;
    }
    
    .nav div.nav__menu{
        background-color: #91B40D;
        width: 100%;
        margin-top: 65px;
        height: 0px;
        overflow: hidden;
    }
    .nav div.nav__menu ul li a:hover{
        color: #d2d4c9;
    }
    
    .nav div.show_list{
        height: 350px;
    }
    
    .nav div.nav__menu ul{
        flex-direction: column;
        width: 100%;
        height: 200px;
        top: 80px;
        right: 0;
        left: 0;
    }
    
    .nav div.nav__menu ul li {
        width: 100%;
        height: 20px;
        background-color:#91B40D;
    }
    
    .nav div.nav__menu ul li a{
        text-align: center;
        line-height: 40px;
        width: 100%;
        height: 40px;
        display: table;
        color: aliceblue;
    }
    
    .nav div.media_button{
        display: block;
        margin-top: 60px;
    }
}       
.background
{
    background: url(./background.png) ;
    background-size: cover;
    height: 500px;
    margin-top: 40px;
}
@media only screen and (max-width: 768px) 
{
   .background
   {
    background-size: cover;
    width: 100%;
    height: 250px;
   }    
}
/* About Styles */
.about__wrapper
{
    display: flex;
    padding-top: 30px;
    padding: 0 135px;
}
.about__img 
{
   padding-top: 30px;
}
.about__img img:nth-child(1)
{
    margin-left: -250px;
}
.about__img img:nth-child(2),
.about__img img:nth-child(3)
{
    margin-left: -100px;
}
.about__title
{
   text-align: center;
   font-weight: bold;
   font-size: 30px;
   padding-top: 30px;
}
.about__text
{
    text-align: center;
    justify-content: center;
    width: 645px;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.6em;
}
.about__item__shortcut
{
    justify-content: center;
    margin-left: 200px;
}
.about__logo__item
{
    display: flex;
    gap: 2rem;
    justify-content: center;
}
.about__item
{
    text-align: center;
}
@media only screen and (max-width: 1269px)
{
    .about__wrapper
    {
        display: block;
    }
}
@media only screen and (max-width: 768px)
{
    .about__wrapper
    {
        display: block;
        width: 100%;
    }
    .about__img img:nth-of-type(1),
    .about__img img:nth-of-type(3)
    {
        display: none;
    }
    .about__img img
    {
        width: 350px;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    .about__title
    {
       text-align: center;
       font-size: 20px;
    }

    .about__text
    {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        min-width: 250px;
        overflow: scroll;
        background-color: #F5F5F5;
    }
    .about__item__shortcut 
    {
       display: none;
    }
    .about__logo__item
    {
        display: flex;
        flex-wrap: wrap;
    }
    .about__logo__item img
    {
        width: 43px;
        height: 45px;
    }
}
@media only screen and (max-width: 537px)
{
    .about__text
    {
        width: 80%;
    }
}
@media only screen and (max-width: 477px)
{
    .about__logo__item
    {
        display: none;
    }
    .about__text
    {
        width: 75%;
        margin-left: -20px;
    }
}
@media only screen and (max-width: 400px)
{
    .about__text
    {
        margin-left: -70px;
    }
    .about__title img
    {
        width: 130px;
    }
}
@media only screen and (max-width: 383px)
{
    .about__img img
    {
        width: 250px;
    }
}
@media only screen and (max-width: 333px)
{
    .about__text
    {
        margin-left: -100px;
    }
    .about__title img
    {
        width: 150px;
        margin-left: -40px;
    }

}
/* Garden Styles */
.garden__title
{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.garden__wrapper
{
    display: flex;
    padding-right: 50px;
    padding-left: 50px;
    justify-content: space-around;
}
.garden__item__info
{
    max-width: 320px;
}
.garden__item__number
{
    font-size: 70px;
    color: #918F8F;
}
.garden__item__title
{
    color: #5F5C5C;
    font-size: 20px;
    font-weight: bold;
}
.garden__item__text
{
    color: #7C7A7A;
    padding-bottom: 10px;
}
.garden__item .garden__design
{
    position: absolute;
}
@media only screen and (max-width: 973px)
{
    .garden__wrapper
    {
        display: block;
    }
    .garden__item
    {
        margin-top: 20px;
    }
}
@media only screen and (max-width: 768px)
{
    .garden__item__img img
    {
        width: 250px;
    }
    .garden__item
    {
        max-width: 250px;
    }
    .garden__item:last-child
    {
        display: none;
    }
    .garden__item__number
    {
        font-size: 45px;
    }
    .garden__title
    {
        padding-top: 120px;
    }
    .garden__wrapper
    {
        display: block;
    }
    .garden__item .garden__design
    {
        display: none;
    }
}
/* Food Styles */
.food__title
{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 10px;
}
.food__options ul
{
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding-bottom: 10px;
}
.food__options ul li
{ 
    list-style-type: none;
}
.food__options ul li a
{
    text-decoration: none;
    color: #2A332B;
    font-weight: bold;
}
.food__options ul li a:hover
{
    color: #91B40D;
}
.food__item__wrapper
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 40px;
    padding-right: 50px;
    padding-left: 100px; 
}
.food__item__wrapper a
{
    text-decoration: none;
}
.food__item:hover
{
    border-radius: 6px;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
}
.food__item__title
{
    font-weight: bold;
    color: #3E3737;
    padding-left: 5px;
}
.food__item__price
{
    color: #91B40D;
    font-weight: bold;
    padding: 5px;
}
@media only screen and (max-width: 768px)
{
    .food__title
    {
        font-size: 20px;
    }
    .food__options ul
    {
        justify-content: center;
        width: 100%;
        gap: 10px;
        padding-left: 20px;
    }
    .food__item__img img
    {
       width: 150px;
    }
    .food__item:nth-of-type(6),
    .food__item:nth-of-type(7),
    .food__item:nth-of-type(8),
    .food__item:nth-of-type(9),
    .food__item:nth-of-type(10)
    {
        display: none;
    }
}
@media only screen and (max-width: 335px)
{
    .food__options ul li 
    {
        font-size: 14px;
    }
    .food__item__img img
    {
       width: 140px;
    }   
}
/* Blog Styles */
.blog__title
{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding-top: 40px;
}
.blog__wrapper
{
    display: flex;
    gap: 30px;
    padding-left: 110px;
    padding-right: 135px;
}
.blog__item__title
{
    color: #2F2A2A;
    font-size: 17px;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 19px;
}
.blog__item__text
{
    max-width: 370px;
    color: #7C7A7A;
    font-weight: normal;
    font-size: 14px;
}
@media only screen and (max-width: 1349px)
{
    .blog__item:last-of-type
    {
       display: none;
    }
}
@media only screen and (max-width: 768px)
{
    .blog__wrapper
    {
        display: block;
        width: 100%;
        margin-left: -50px;
        overflow: hidden;
    }
    .blog__item__text
    {
        max-width: 100%;
        max-height: 250px;
        min-width: 150px;
        overflow: scroll;

    }

}
/* Footer Styles */
.footer__background img
{
    width: 100%;
    margin-bottom: -5px;

}
.footer__wrapper
{
    display: flex;
    background-color: #F3F3F3;
}
.footer__info
{
    display: flex;
}
.footer__img
{
    padding-left: 200px;
    padding-right: 130px;
    padding-bottom: 150px;
}
.footer__info
{
    gap: 150px;
}
.footer__info__item__title
{
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
}
.footer__info__item__text ul
{
    list-style: none;
}
.footer__info__item__text ul a
{
    text-decoration: none;
    color: #303030;
    font-size: 15px;
    font-weight: 400;
    line-height: 2em;
}
.copyright
{
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 20px;
    background-color: #F3F3F3;
    font-size: 18px;
}
@media only screen and (max-width: 1171px)
{
    .footer__wrapper
    {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
}
@media only screen and (max-width: 768px)
{
    .footer__info
    {
       margin-top: -25px;
       display: block;
       text-align: center;
       padding-bottom: 0;
    }
}
@media only screen and (max-width: 350px)
{
    .footer__img img
    {
        width: 220px;
        margin-bottom: -25px;
    }
}
@media only screen and (max-width: 287px)
{
    .footer__img img
    {
        width: 180px;
        margin-bottom: -50px;
    }
}